header {
    text-align: center;
    margin-bottom: 35px; 
    margin-left: 35px;
}

header img {
    width: 50%; 
    height: auto;
    margin-top: 35px;
}

.button{
    width: 70%; 
    height: auto;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-left: 30px; 
    flex-direction: row;
    padding-top: 60px;
    gap: 20px; 

}
