header {
    text-align: center; 
    margin-top: 35px;
    margin-bottom: 15px; 
    margin-left: auto;
    margin-right: auto;
}

header img {
    width: 70%; 
    height: auto;
}
.face-photo-container {
    text-align: center; 
    margin-top: 30px;
    margin-bottom: 25px; 
}

.face-photo-container .face-image {
    width: 50%; 
    height: auto;
    margin: 0 auto;
}

.nav-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    flex-wrap: nowrap;
    border: 0; 
}

.nav-image {
    height: auto;
    width: 80%; 
    transition: opacity 0.3s ease;
    margin-left: 60px; 
}

.nav-button:hover .nav-image {
    opacity: 0.75; 
    cursor: pointer;
}